<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1 style="text-align: center;">Clean Fuel Checker</h1>
      <div>
        <p>This web application explores the proportion population per country with primary reliance on clean fuel and technologies
           for cooking (in millions)
        </p>
        <p>
          According to the WHO, Clean fuels and technologies are defined in accordance with WHO guidelines for 
          indoor air quality: household fuel combustion. This includes households primarily relying on electricity, 
          biogas, natural gas, liquified petroleum gas (LPG), solar or alcohol fuels for cooking.
        </p>
      </div>
      <div>
        <p><a href={{ url_for ("compare") }}>Compare populations in countries</a></p>
        <p><a href={{ url_for ("search_country") }}>Search by country</a></p>
        <p><a href={{ url_for ("search_year") }}>Search by year</a></p>       
      </div>
    </section>
  </body>
</html>
